src/bullhorn/.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://apiservice.bullhorn.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://apiservice.bullhorn.com/" name="ApiService">
<types>
<xsd:schema>
<xsd:import namespace="http://userwork.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://user.template.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=12"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://user.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=23"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://timecard.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=29"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://test.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=30"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://template.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=31"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://tearsheet.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=32"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://task.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=33"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://survey.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=34"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://subscription.dataevent.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=2"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://session.apiservice.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=3"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://result.dataevent.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=4"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://result.apiservice.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=5"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://ratecard.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=6"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://query.apiservice.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=7"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://privatelabel.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=8"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://note.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=9"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://meta.apiservice.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=10"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://lists.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=11"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://job.template.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=13"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://job.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=14"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://invoice.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=15"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://housing.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=16"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://event.dataevent.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=17"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=18"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://emb.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=19"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://distlist.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=20"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://corp.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=21"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://client.template.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=22"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://client.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=24"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://cert.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=25"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://candidate.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=26"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://appointment.entity.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=27"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://apiservice.bullhorn.com/" schemaLocation="https://api.bullhornstaffing.com/webservices-1.1/?xsd=28"></xsd:import>
</xsd:schema>
</types>
<message name="find">
<part name="parameters" element="tns:find"></part>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"></part>
</message>
<message name="save">
<part name="parameters" element="tns:save"></part>
</message>
<message name="saveResponse">
<part name="parameters" element="tns:saveResponse"></part>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"></part>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"></part>
</message>
<message name="query">
<part name="parameters" element="tns:query"></part>
</message>
<message name="queryResponse">
<part name="parameters" element="tns:queryResponse"></part>
</message>
<message name="associate">
<part name="parameters" element="tns:associate"></part>
</message>
<message name="associateResponse">
<part name="parameters" element="tns:associateResponse"></part>
</message>
<message name="startSession">
<part name="parameters" element="tns:startSession"></part>
</message>
<message name="startSessionResponse">
<part name="parameters" element="tns:startSessionResponse"></part>
</message>
<message name="findMultiple">
<part name="parameters" element="tns:findMultiple"></part>
</message>
<message name="findMultipleResponse">
<part name="parameters" element="tns:findMultipleResponse"></part>
</message>
<message name="deleteById">
<part name="parameters" element="tns:deleteById"></part>
</message>
<message name="deleteByIdResponse">
<part name="parameters" element="tns:deleteByIdResponse"></part>
</message>
<message name="getAssociationIds">
<part name="parameters" element="tns:getAssociationIds"></part>
</message>
<message name="getAssociationIdsResponse">
<part name="parameters" element="tns:getAssociationIdsResponse"></part>
</message>
<message name="associateMultiple">
<part name="parameters" element="tns:associateMultiple"></part>
</message>
<message name="associateMultipleResponse">
<part name="parameters" element="tns:associateMultipleResponse"></part>
</message>
<message name="unassociate">
<part name="parameters" element="tns:unassociate"></part>
</message>
<message name="unassociateResponse">
<part name="parameters" element="tns:unassociateResponse"></part>
</message>
<message name="unassociateMultiple">
<part name="parameters" element="tns:unassociateMultiple"></part>
</message>
<message name="unassociateMultipleResponse">
<part name="parameters" element="tns:unassociateMultipleResponse"></part>
</message>
<message name="getDepartmentUserIds">
<part name="parameters" element="tns:getDepartmentUserIds"></part>
</message>
<message name="getDepartmentUserIdsResponse">
<part name="parameters" element="tns:getDepartmentUserIdsResponse"></part>
</message>
<message name="getUserDepartmentIds">
<part name="parameters" element="tns:getUserDepartmentIds"></part>
</message>
<message name="getUserDepartmentIdsResponse">
<part name="parameters" element="tns:getUserDepartmentIdsResponse"></part>
</message>
<message name="getUserPrimaryDepartmentId">
<part name="parameters" element="tns:getUserPrimaryDepartmentId"></part>
</message>
<message name="getUserPrimaryDepartmentIdResponse">
<part name="parameters" element="tns:getUserPrimaryDepartmentIdResponse"></part>
</message>
<message name="getUserTypes">
<part name="parameters" element="tns:getUserTypes"></part>
</message>
<message name="getUserTypesResponse">
<part name="parameters" element="tns:getUserTypesResponse"></part>
</message>
<message name="eventsSubscribe">
<part name="parameters" element="tns:eventsSubscribe"></part>
</message>
<message name="eventsSubscribeResponse">
<part name="parameters" element="tns:eventsSubscribeResponse"></part>
</message>
<message name="eventsUnsubscribe">
<part name="parameters" element="tns:eventsUnsubscribe"></part>
</message>
<message name="eventsUnsubscribeResponse">
<part name="parameters" element="tns:eventsUnsubscribeResponse"></part>
</message>
<message name="getEntityNotes">
<part name="parameters" element="tns:getEntityNotes"></part>
</message>
<message name="getEntityNotesResponse">
<part name="parameters" element="tns:getEntityNotesResponse"></part>
</message>
<message name="getEntityNotesWhere">
<part name="parameters" element="tns:getEntityNotesWhere"></part>
</message>
<message name="getEntityNotesWhereResponse">
<part name="parameters" element="tns:getEntityNotesWhereResponse"></part>
</message>
<message name="getNoteReferences">
<part name="parameters" element="tns:getNoteReferences"></part>
</message>
<message name="getNoteReferencesResponse">
<part name="parameters" element="tns:getNoteReferencesResponse"></part>
</message>
<message name="addNoteReference">
<part name="parameters" element="tns:addNoteReference"></part>
</message>
<message name="addNoteReferenceResponse">
<part name="parameters" element="tns:addNoteReferenceResponse"></part>
</message>
<message name="removeNoteReference">
<part name="parameters" element="tns:removeNoteReference"></part>
</message>
<message name="removeNoteReferenceResponse">
<part name="parameters" element="tns:removeNoteReferenceResponse"></part>
</message>
<message name="getEntityMetadata">
<part name="parameters" element="tns:getEntityMetadata"></part>
</message>
<message name="getEntityMetadataResponse">
<part name="parameters" element="tns:getEntityMetadataResponse"></part>
</message>
<message name="getJobOrderMetadata">
<part name="parameters" element="tns:getJobOrderMetadata"></part>
</message>
<message name="getJobOrderMetadataResponse">
<part name="parameters" element="tns:getJobOrderMetadataResponse"></part>
</message>
<message name="_eventsGenerateBogusEvents">
<part name="parameters" element="tns:_eventsGenerateBogusEvents"></part>
</message>
<message name="_eventsGenerateBogusEventsResponse">
<part name="parameters" element="tns:_eventsGenerateBogusEventsResponse"></part>
</message>
<message name="_eventsGenerateBogusJobMatchSearchEvents">
<part name="parameters" element="tns:_eventsGenerateBogusJobMatchSearchEvents"></part>
</message>
<message name="_eventsGenerateBogusJobMatchSearchEventsResponse">
<part name="parameters" element="tns:_eventsGenerateBogusJobMatchSearchEventsResponse"></part>
</message>
<message name="_eventsGenerateBogusFieldMapChangeEvents">
<part name="parameters" element="tns:_eventsGenerateBogusFieldMapChangeEvents"></part>
</message>
<message name="_eventsGenerateBogusFieldMapChangeEventsResponse">
<part name="parameters" element="tns:_eventsGenerateBogusFieldMapChangeEventsResponse"></part>
</message>
<message name="eventsGetEvents">
<part name="parameters" element="tns:eventsGetEvents"></part>
</message>
<message name="eventsGetEventsResponse">
<part name="parameters" element="tns:eventsGetEventsResponse"></part>
</message>
<message name="eventsGetLastRequestId">
<part name="parameters" element="tns:eventsGetLastRequestId"></part>
</message>
<message name="eventsGetLastRequestIdResponse">
<part name="parameters" element="tns:eventsGetLastRequestIdResponse"></part>
</message>
<message name="eventsRegetEvents">
<part name="parameters" element="tns:eventsRegetEvents"></part>
</message>
<message name="eventsRegetEventsResponse">
<part name="parameters" element="tns:eventsRegetEventsResponse"></part>
</message>
<message name="_exportApiEnums">
<part name="parameters" element="tns:_exportApiEnums"></part>
</message>
<message name="_exportApiEnumsResponse">
<part name="parameters" element="tns:_exportApiEnumsResponse"></part>
</message>
<message name="getApplicationServerHost">
<part name="parameters" element="tns:getApplicationServerHost"></part>
</message>
<message name="getApplicationServerHostResponse">
<part name="parameters" element="tns:getApplicationServerHostResponse"></part>
</message>
<portType name="ApiService">
<operation name="find">
<input message="tns:find"></input>
<output message="tns:findResponse"></output>
</operation>
<operation name="save">
<input message="tns:save"></input>
<output message="tns:saveResponse"></output>
</operation>
<operation name="delete">
<input message="tns:delete"></input>
<output message="tns:deleteResponse"></output>
</operation>
<operation name="query">
<input message="tns:query"></input>
<output message="tns:queryResponse"></output>
</operation>
<operation name="associate">
<input message="tns:associate"></input>
<output message="tns:associateResponse"></output>
</operation>
<operation name="startSession">
<input message="tns:startSession"></input>
<output message="tns:startSessionResponse"></output>
</operation>
<operation name="findMultiple">
<input message="tns:findMultiple"></input>
<output message="tns:findMultipleResponse"></output>
</operation>
<operation name="deleteById">
<input message="tns:deleteById"></input>
<output message="tns:deleteByIdResponse"></output>
</operation>
<operation name="getAssociationIds">
<input message="tns:getAssociationIds"></input>
<output message="tns:getAssociationIdsResponse"></output>
</operation>
<operation name="associateMultiple">
<input message="tns:associateMultiple"></input>
<output message="tns:associateMultipleResponse"></output>
</operation>
<operation name="unassociate">
<input message="tns:unassociate"></input>
<output message="tns:unassociateResponse"></output>
</operation>
<operation name="unassociateMultiple">
<input message="tns:unassociateMultiple"></input>
<output message="tns:unassociateMultipleResponse"></output>
</operation>
<operation name="getDepartmentUserIds">
<input message="tns:getDepartmentUserIds"></input>
<output message="tns:getDepartmentUserIdsResponse"></output>
</operation>
<operation name="getUserDepartmentIds">
<input message="tns:getUserDepartmentIds"></input>
<output message="tns:getUserDepartmentIdsResponse"></output>
</operation>
<operation name="getUserPrimaryDepartmentId">
<input message="tns:getUserPrimaryDepartmentId"></input>
<output message="tns:getUserPrimaryDepartmentIdResponse"></output>
</operation>
<operation name="getUserTypes">
<input message="tns:getUserTypes"></input>
<output message="tns:getUserTypesResponse"></output>
</operation>
<operation name="eventsSubscribe">
<input message="tns:eventsSubscribe"></input>
<output message="tns:eventsSubscribeResponse"></output>
</operation>
<operation name="eventsUnsubscribe">
<input message="tns:eventsUnsubscribe"></input>
<output message="tns:eventsUnsubscribeResponse"></output>
</operation>
<operation name="getEntityNotes">
<input message="tns:getEntityNotes"></input>
<output message="tns:getEntityNotesResponse"></output>
</operation>
<operation name="getEntityNotesWhere">
<input message="tns:getEntityNotesWhere"></input>
<output message="tns:getEntityNotesWhereResponse"></output>
</operation>
<operation name="getNoteReferences">
<input message="tns:getNoteReferences"></input>
<output message="tns:getNoteReferencesResponse"></output>
</operation>
<operation name="addNoteReference">
<input message="tns:addNoteReference"></input>
<output message="tns:addNoteReferenceResponse"></output>
</operation>
<operation name="removeNoteReference">
<input message="tns:removeNoteReference"></input>
<output message="tns:removeNoteReferenceResponse"></output>
</operation>
<operation name="getEntityMetadata">
<input message="tns:getEntityMetadata"></input>
<output message="tns:getEntityMetadataResponse"></output>
</operation>
<operation name="getJobOrderMetadata">
<input message="tns:getJobOrderMetadata"></input>
<output message="tns:getJobOrderMetadataResponse"></output>
</operation>
<operation name="_eventsGenerateBogusEvents">
<input message="tns:_eventsGenerateBogusEvents"></input>
<output message="tns:_eventsGenerateBogusEventsResponse"></output>
</operation>
<operation name="_eventsGenerateBogusJobMatchSearchEvents">
<input message="tns:_eventsGenerateBogusJobMatchSearchEvents"></input>
<output message="tns:_eventsGenerateBogusJobMatchSearchEventsResponse"></output>
</operation>
<operation name="_eventsGenerateBogusFieldMapChangeEvents">
<input message="tns:_eventsGenerateBogusFieldMapChangeEvents"></input>
<output message="tns:_eventsGenerateBogusFieldMapChangeEventsResponse"></output>
</operation>
<operation name="eventsGetEvents">
<input message="tns:eventsGetEvents"></input>
<output message="tns:eventsGetEventsResponse"></output>
</operation>
<operation name="eventsGetLastRequestId">
<input message="tns:eventsGetLastRequestId"></input>
<output message="tns:eventsGetLastRequestIdResponse"></output>
</operation>
<operation name="eventsRegetEvents">
<input message="tns:eventsRegetEvents"></input>
<output message="tns:eventsRegetEventsResponse"></output>
</operation>
<operation name="_exportApiEnums">
<input message="tns:_exportApiEnums"></input>
<output message="tns:_exportApiEnumsResponse"></output>
</operation>
<operation name="getApplicationServerHost">
<input message="tns:getApplicationServerHost"></input>
<output message="tns:getApplicationServerHostResponse"></output>
</operation>
</portType>
<binding name="ApiServicePortBinding" type="tns:ApiService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="find">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="save">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="query">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="associate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="startSession">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findMultiple">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAssociationIds">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="associateMultiple">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unassociate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unassociateMultiple">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDepartmentUserIds">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserDepartmentIds">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserPrimaryDepartmentId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserTypes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="eventsSubscribe">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="eventsUnsubscribe">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getEntityNotes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getEntityNotesWhere">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getNoteReferences">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addNoteReference">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="removeNoteReference">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getEntityMetadata">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getJobOrderMetadata">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="_eventsGenerateBogusEvents">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="_eventsGenerateBogusJobMatchSearchEvents">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="_eventsGenerateBogusFieldMapChangeEvents">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="eventsGetEvents">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="eventsGetLastRequestId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="eventsRegetEvents">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="_exportApiEnums">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getApplicationServerHost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ApiService">
<port name="ApiServicePort" binding="tns:ApiServicePortBinding">
<soap:address location="https://api.bullhornstaffing.com/webservices-1.1/"></soap:address>
</port>
</service>
</definitions>