src/asyanchronusWEBService/HelloImplPortType_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://asyanchronusWEBService/" xmlns:tns="http://asyanchronusWEBService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="callbackMessage" type="tns:callbackMessage"/>

  <xs:element name="sayHello" type="tns:sayHello"/>

  <xs:complexType name="callbackMessage">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHello">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

